all:
  vars:
    vmid: 120
    pm_host: 192.168.1.10
    pm_node_name: pve
    pm_user: user@pam
    ostemplate: hd1:vztmpl/nixos-system-x86_64-linux.tar.xz
    imageurl: https://hydra.nixos.org/build/289736627/download/1/nixos-system-x86_64-linux.tar.xz
    imagechecksum: sha256:ba91233e2f741c7312b773b069876792dcbe4a6cfa28697b0f1a9d2250246586
    nixospubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAIXJn+DTfyB0+7JkHbNHVPywAQxHe6+cnxhhA4zF2rD
    sops: "{{ lookup('community.sops.sops', 'secrets.yaml') | ansible.builtin.from_yaml }}"
  hosts:
   proxmox:
      ansible_host: 192.168.1.10
      ansible_user: root